bumpversion>=0.5.3
wheel>=0.32.1
watchdog>=0.9.0
Sphinx>=1.8.1
sphinx_copybutton>=0.2.5
pytest-runner>=4.2
pytest-cov>=2.7.1
pytest>=3.8.2
black>=19.10b0
click>=7.0
flake8>=3.8.2
jupyter>=1.0.0
nbdime>=2.0.0
nbstripout>=0.3.7
sphinx-automodapi
sphinx_rtd_theme
nbsphinx
isort
nb_black
pandas
numpy
scipy
scikit-learn
statsmodels
tabulate
pandas>=1.4.1
setuptools>=58.0.4
python-dotenv>=0.19.2
jupyterlab-requirements